<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <title>{{ entry.title}}</title>
</head>
<body>
{{ dump(currentUser) }}
    <h1>{{entry.title}}</h1>
    <em>Created on {{ entry.dateCreated|date("d / m / Y") }}</em>
    {% if entry.category|length %}
    <div class="border-t py-2 mb-6">
        {% for category in entry.category.all() %}
        <a href="{{ category.url }}">
            {{- category.title -}}
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <p>{{ entry.headline }}</p>

    <main role="main">
        {% for layout in entry.richContent.all() %}
            {% if layout.type == 'text' %}
        <h3>{{ layout.text_title }}</h3>
        <p>{{ layout.text_content }}</p>
            {% elseif layout.type == 'video' %}
        <p>{{ layout.video_url }}</p>
            {% endif %}
        {% endfor %}
    </main>
    <footer>
        <p>{{ address.address|raw }}</p>
    </footer>
</body>
</html>